.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.select {
    border-radius: 5px;
    position: relative;
    color: var(--palette-foreground);
    background-color: var(--translucent-foreground);
    transition: background-color 200ms;
}

.select:hover {
    background-color: var(--palette-foreground);
    color: var(--palette-background);
}

.select select {
    appearance: none;
    cursor: pointer;
    color: inherit;
}

.select svg {
    height: 22px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
}

.meta input, .meta select, .message textarea, .meta {
    width: 100%;
}

.meta input, .meta select, .message textarea {
    padding: 10px 15px;
    outline: unset;
    border: unset;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
}

.meta input, .message textarea {
    transition: box-shadow 200ms ease;
}

.meta input::placeholder, .message textarea::placeholder {
    color: var(--frosty-foreground);
}

.meta input:focus, .message textarea:focus {
    box-shadow: 0 0 0 2px var(--translucent-foreground);
}

.meta > div:not(:last-child) {
    margin-bottom: 10px;
}

.message {
    flex: 1 0 320px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.message textarea {
    height: 200px;
    margin-bottom: 10px;
    resize: none;
}

.message button {
    width: fit-content;
    margin-left: auto;
}

@media (min-width: 480px) {
    .meta {
        max-width: 320px;
    }
}

@media (min-width: 700px) {
    .message textarea {
        height: unset;
    }
}