.divider {
    position: absolute;
    height: calc(100% - var(--spacing-large));
    width: 100%;
    overflow: hidden;
}

.divider:before, .divider:after {
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    content: "";
    background-color: var(--palette-background);
}

.divider:before {
    transform: skew(0deg,15deg);
    transform-origin: top left;
}

.divider:after {
    right: 0;
    transform: skew(0deg,-15deg);
    transform-origin: top right;
}

.primary:before, .primary:after {
    background-color: var(--palette-primary);
}
.background:before, .background:after {
    background-color: var(--palette-background);
}