.container {
    padding: 0 25px 25px 25px;
}

.wrapper {
    padding: var(--spacing-large);
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}