.container {
    position: relative;
}

.wrapper {
    max-width: 760px;
    margin: 0 auto;
    padding: calc(var(--header-height) + var(--spacing-large)) var(--spacing-large) var(--spacing-large) var(--spacing-large);
    position: relative;
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
    justify-content: center;
}

.man {
    flex: 0 0 min-content;
    display: block;
    margin: 0 auto;
    height: 240px;
    width: auto;
}

.content {
    flex: 1 0 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}