.container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: calc(var(--header-height) + var(--spacing-large) * 2);
    margin: auto;
}

.wrapper {
    max-width: 768px;
    margin: auto;
    position: relative;
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
    justify-content: center;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.man {
    flex: 0 0 min-content;
    display: block;
    margin: 0 auto;
    height: 240px;
    width: auto;
}

.content {
    /* flex: 1 0 200px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}