.container {
    position: relative;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
}

.content {
    padding: var(--spacing-large);
    margin: 0 auto;
    max-width: 480px;
    text-align: center;
    background-color: var(--palette-foreground);
    color: var(--palette-background);
    border-radius: 10px;
}

.content h3 {
    margin-bottom: var(--spacing-small);
}



