.container {
    display: flex;
    gap: var(--spacing-small);
    position: relative;
}

.active {

}

.indicator {
    position: absolute;
    height: 2px;
    border-radius: 1px;
    bottom: -4px;
    left: 0;
    background-color: var(--frosty-foreground);
    transition: width 200ms ease, transform 200ms ease, opacity 200ms ease;
}