.container {
    background-color: var(--palette-primary);
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
}

.wrapper h2 {
    text-align: center;
    margin-bottom: var(--spacing-small);
}