.arrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .priceContainer {
        flex-direction: column;
        gap: 10px;
        align-items: center; /* Centre le contenu verticalement */
    }
    .arrowContainer {
        justify-content: center;
        width: 60px; /* Ajustez selon la taille de votre icône */
        height: 60px; /* Ajustez selon la taille de votre icône */
    }
    .price {
        text-align: center; /* Assure que le prix est centré sous le texte */
    }
}


.container {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards article {
    position: absolute;
    width: 100%;
    max-width: 480px;
    margin: auto;
    transition: transform .4s ease, opacity .4s ease;
    cursor: pointer;
    background-color: var(--palette-background);
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
}

.cards article > *:not(:last-child) {
    margin: 0 0 var(--spacing-small) 0;
}

.cards article .title {
    font-size: 1.7rem;
}

.cards article ul {
    padding-bottom: var(--spacing-small);
    border-bottom: 2px solid var(--translucent-foreground);
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.cards article ul li:not(:last-child) {
    margin: 0 0 calc(var(--spacing-small) / 2);
}

.cards article .price {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    text-align: right;
}

.cards article .price span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--palette-foreground);
    color: var(--palette-background);
    border-radius: 5px;
    width: fit-content;
}

.cards article.p4 {
    transform: translateX(-80%) scale(0.2);
    opacity: 0;
}
.cards article.p3 {
    transform: translateX(-60%) scale(0.4);
    opacity: 0;
}
.cards article.p2 {
    transform: translateX(-40%) scale(0.6);
    opacity: 0.4;
}
.cards article.p1 {
    transform: translateX(-20%) scale(0.8);
    opacity: 0.6;
}

.cards article.current {
    transform: translateX(0) scale(1);
    z-index: 1;
    position: relative;
}

.cards article.n1 {
    transform: translateX(20%) scale(0.8);
    opacity: 0.6;
}
.cards article.n2 {
    transform: translateX(40%) scale(0.6);
    opacity: 0.4;
}
.cards article.n3 {
    transform: translateX(60%) scale(0.4);
    opacity: 0;
}
.cards article.n4 {
    transform: translateX(80%) scale(0.2);
    opacity: 0;
}

.controls {
    display: flex;
    gap: 20px;
    z-index: 1000;
}

.controlButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--palette-foreground);
    color: var(--palette-background);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color .2s ease;
}

