.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: var(--spacing-large);
    display: flex;
    gap: var(--spacing-large);
    flex-wrap: wrap;
}

.wrapper article {
    flex: 1 1 320px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    text-align: center;
}

.wrapper article figure {
    width: fit-content;
    margin: 0 auto;
}

.wrapper article figure img {
    display: block;
    height: 140px;
    width: 140px;
}

.wrapper article h3 {
    margin-bottom: var(--spacing-small);
}