.container {
    padding-top: calc(var(--header-height) + var(--spacing-large));
    padding-bottom: var(--spacing-large);
}

.container h1, .container h2 {
    margin-bottom: var(--spacing-small);
}

.container h1 {
    font-size: 3rem;
}

.container h2 {
    font-size: 2rem;
}


.projectTitle {
    font-size: 1.7rem;
}


.wrapper {
    max-width: 980px;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
    margin: 0 auto;
}

.design {
    margin-bottom: var(--spacing-large);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacing-small);
    color: var(--palette-background);
}

.grid article {
    padding: var(--spacing-large);
    background-color: crimson;
    border-radius: 10px;
    background: white;
}

.grid article figure {
    position: relative;
    height: 120px;
    width: 100%;
    max-width: 240px;
    background-color: rgba(0,0,0,.1);
}

.grid article figure img {
    object-fit: contain;
}