:root {
    /* --palette-primary: rgb(64, 88, 116); */
    --palette-primary: rgb(1, 98, 76);
    --palette-background: rgb(23, 66, 64);
    --palette-foreground: white;
    --translucent-primary: rgba(94, 118, 146, .2);
    --translucent-background: rgba(44, 68, 96, .2); /* 2ème couleur */
    --translucent-foreground: rgba(255, 255, 255, 0.1);
    --frosty-primary: rgba(94, 118, 146, .5);
    /* --frosty-background: rgba(44, 68, 96, .5); */
    --frosty-background: rgba(23, 66, 64); /* 2ème couleur */
    --frosty-foreground: rgba(255, 255, 255, 0.4);
    --frosty-black: rgba(0,0,0,0.4);
    --header-height: 70px; /*manually set*/
    --spacing-large: 30px;
    --spacing-small: 10px;
}

html {
    color-scheme: dark;
    background: var(--palette-background);
    font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}


@font-face {
  font-family: 'Salbadida Sans';
  src: url('/fonts/salbabida.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi[wght].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: 'Salbadida Sans', sans-serif;
  font-weight: 100;
  font-size: 4rem;
}

h1 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

p {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h3 {
  font-family: 'Satoshi', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

body > main > div > section.Hero_container___riuA > div > div > p {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

a {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}