:root {
    /* --palette-primary: rgb(64, 88, 116); */
    --palette-primary: rgb(1, 98, 76);
    --palette-background: rgb(23, 66, 64);
    --palette-foreground: white;
    --translucent-primary: rgba(94, 118, 146, .2);
    --translucent-background: rgba(44, 68, 96, .2); /* 2ème couleur */
    --translucent-foreground: rgba(255, 255, 255, 0.1);
    --frosty-primary: rgba(94, 118, 146, .5);
    /* --frosty-background: rgba(44, 68, 96, .5); */
    --frosty-background: rgba(23, 66, 64); /* 2ème couleur */
    --frosty-foreground: rgba(255, 255, 255, 0.4);
    --frosty-black: rgba(0,0,0,0.4);
    --header-height: 70px; /*manually set*/
    --spacing-large: 30px;
    --spacing-small: 10px;
}

html {
    color-scheme: dark;
    background: var(--palette-background);
    font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: inherit;
}
