.contact {
    background-color: var(--palette-primary);
}

.contact > div {
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 var(--spacing-large) var(--spacing-large) var(--spacing-large);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    text-align: center;
    align-items: center;
}

.contact > div h3 {
    font-size: 6rem;
    line-height: 6rem;
}

.contact > div h4 {
    font-weight: normal;
    font-size: 1.6rem;
}