.container section {
    padding-bottom: calc(var(--spacing-large) * 2);
}

.three {
    position: relative;
}

.contact > div {
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    text-align: center;
    align-items: center;
}

.contact > div h3 {
    font-size: 6rem;
    line-height: 6rem;
}

.contact > div h4 {
    font-weight: normal;
    font-size: 1.6rem;
}