.container {
    padding-top: calc(var(--header-height) + var(--spacing-large));
    padding-bottom: var(--spacing-large);
}

.container h1 {
    margin-bottom: var(--spacing-small);
    font-size: 4rem;
}

.container h2 {
    font-size: 2rem;
}

.container h3 {
    font-size: large;
}

.wrapper {
    max-width: 980px;
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-large);
    margin: 0 auto;
}


.icon {
    width: 24px;
    height: 24px;
    display: flex; /* Assurez-vous que l'icône est centrée */
    align-items: center; /* Centre l'icône verticalement */
    justify-content: center; /* Centre l'icône horizontalement */
    margin-right: var(--spacing-small);
}

@media (max-width: 768px) {
    .icon {
        width: 60px;
        height: 60px;
    }
}

.serviceDetails {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ajouté pour aligner verticalement le contenu avec l'icône */
    margin-bottom: var(--spacing-large);
    margin-left: var(--spacing-large);
}

@media (max-width: 768px) {
    .serviceDetails {
        flex-direction: row;
        align-items: flex-start;
        transform: translateX(-37px); /* Déplace l'icône de 5px vers la gauche */
    }
}

.serviceAnchor::before {
    content: "";
    display: block;
    height: 150px; /* Hauteur de votre en-tête */
    margin-top: -150px; /* Négatif de la hauteur de votre en-tête */
}